.git
.cursor
.vs
**/.DS_Store
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/appsettings.Development.json
**/appsettings.*.local.json
.env
.env.*
!.env.example
docs
README.md
docker-compose*.yml
.dockerignore
